* {
    font-family: "Montserrat", Sans-serif;
}

body {
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

header {
    padding: 30px 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 190px;
}

header ul {
    list-style: none;
}

header ul li {
    margin-right: 28px;
    display: inline-block;
    position: relative;
}

header ul li a {
    display: block;
    color: #ff96aa;
    text-decoration: none;
    font-size: 17px;
    font-weight: 520;
    line-height: 1em;
    letter-spacing: 1.7px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 200px;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
}
ul li ul.dropdown li {
    padding: 20px 10px;
}

ul li a:hover {
    color: #ff5172;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li:hover {
    display: block;
    background-color: #fff7f9;
}

.arrow {
    width: 12px;
}

header a img {
    width: 18px;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.academy {
    grid-column: span 5;
    margin-right: 30px;
}

.academy h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.7px;
    color: #1e2f4d;
    margin-bottom: 20px;
}

.academy p {
    font-size: 25px;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0.3px;
    color: #0f213a;
    margin-bottom: 80px;
}

.review img {
    width: 50px;
}

.button {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
    text-decoration: none;
    color: white;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 50px 50px 50px 50px;
    padding: 20px 30px 20px 30px;
}

.buttonPink {
    background-color: #ff96aa;
}

.review {
    grid-column: span 6;
    padding: 10px 30px 20px 30px;
    margin-top: 40px;
    background-color: #fff7f9;
    border-radius: 5px;
    color: #0f213a;
    position: relative;
}

.review > p {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    margin: 20px;
    text-align: center;
}

.doctor img {
    width: 70px;
    height: 70px;
    border-radius: 999px;
    margin-right: 20px;
}

.doctor {
    display: flex;
}

.doctor div {
    align-items: bottom;
    font-size: 18px;
    line-height: 1.5;
    line-height: 1.2em;
    letter-spacing: 0.5px;
}

.review > img {
    position: absolute;
    width: 11%;
    bottom: -25px;
    right: -30px;
}

.grid h2 {
    padding-top: 100px;
    grid-column: span 12;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 1em;
    letter-spacing: 0.3px;
    text-align: center;
}

.partners {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
}

.partners img {
    width: 120px;
}

.video {
    display: flex;
    background-color: #102441;
}

iframe {
    width: 820px;
    height: 463px;
    padding: 30px;
    margin: 40px auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    background-color: #f4f8fc;
    padding: 40px 150px;
    text-align: center;
    align-items: center;
}

.cards h2 {
    grid-column: span 12;
    color: #0f213a;
    font-size: 50px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.3px;
    margin: 0px auto;
}

.cards h3 {
    grid-column: span 12;
    font-size: 30px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.3px;
    margin-bottom: 60px;
    color: #ff96aa;
}

.card {
    grid-column: span 4;
    background-color: white;
    padding: 20px;
    height: 300px;
    margin-bottom: 60px;
    border-radius: 5px;
}

.card h4 {
    color: #0f213a;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    margin: 10px;
}

.card p {
    color: #7a8cad;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.buttons {
    grid-column: span 12;
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}

.buttonNavy {
    background-color: #0f213a;
}

.buttonBlue {
    background-color: #247dff;
}

.buttonGrey {
    background-color: #a9b8d3;
}

.imgContainer {
    grid-column: span 12;
}

.imgContainer img {
    border-radius: 7px;
}

.contactUs {
    grid-column: span 12;
    background-color: #0f213a;
    border-radius: 10px;
    color: white;
    margin: 20px 20px 60px 20px;
    padding: 40px;
    height: fit-content;
}

.contactUs h2 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.3px;
}

.contactUs p {
    font-family: "Assistant", Sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.cardEvent {
    grid-column: span 4;
    background-color: white;
    height: fit-content;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardEvent img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 250px;
}

.cardEvent p {
    color: #0f213a;
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.3px;
    text-align: left;
    padding: 0 20px;
}

.cardEvent a {
    color: #ff96aa;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-decoration: none;
    position: relative;
}

.summary {
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-style: solid;
    background-color: #ff96aa;
    border-width: 0px 0px 0px 0px;
    border-radius: 30px;
    padding: 7px 10px;
    position: absolute;
    margin: 20px;
}

.final {
    display: grid;
    grid-column: span 12;
    background-color: #fff7f9;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.final p {
    font-size: 22px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    width: fit-content;
    background-color: white;
    text-align: center;
    padding: 20px 40px;
    border-radius: 5px;
}

.programs {
    background-color: white;
}

.programs h2 {
    margin: 50px;
}

.cardPrograms {
    grid-column: span 4;
    background-color: #f4f8fc;
    padding: 20px;
    height: 270px;
    margin-bottom: 60px;
    border-radius: 5px;
    text-align: left;
}

.cardPrograms h4 {
    color: #0f213a;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    margin: 10px;
}

.cardPrograms p {
    color: #0f213a;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    margin-top: 15px;
}

.cardPrograms a {
    color: #ff96aa;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-decoration: none;
    position: relative;
}
